header{
  display: inline-flex;
  background-color: magenta;
  width: 100%;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
}

a{
font-family: helvetica;
text-decoration: none;
}

a:hover{
color: magenta;
background-color: yellow;
}

.home{
  margin-left: 590px;
  margin-right: 590px;
}
