body{
  background-color: magenta;
  text-align: center;
}

h1{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 200px;
  text-align: center;
  margin: 100px;
}

.subtitle{
  font-family: Arial;
  font-style: italic;
  font-size: 25px;
  text-align: left;
  margin-top: 100px;
}

.entries{
font-size: 50px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
  color: magenta;
}

.begin{
  font-family: helvetica;
  font-size: 50px;
  border: 1px solid white;
  padding: 10px;
}

.begin:hover{
  
}