
body{
	background-image: url('bg.jpeg');
	background-size: contain;
	min-width: 1400px;
	overflow-x: hidden;
	margin-left: 50px;
}

.a{
	background-color: #c764fc;
	color: #514733;
	padding-left: 10px;
	padding-right: 10px;
}

.a:hover{
	color: #c764fc;
	background-color: #514733;
}

.b:hover{
	background-color: #c764fc;
	color: #514733;
}

.b{
	color:  #c764fc;
	background-color: #514733;
	padding-left: 10px;
	padding-right: 10px;
}


h1{
	font-family: americane,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 86px;
text-align: center;
color: #514733;

}


p{
	font-family: americane,sans-serif;
   font-weight: 600;
	font-style: normal;
	font-size: 14px;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
	background-color: black;
	color: white;
	width: 60%;
	background-color: #c764fc;
	color: #514733;

}


.container {
  display: flex;
  padding: 40px;

}

.container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 88%;
  opacity: 0;
  background-color: #514733;
}

.art:hover .overlay {
  opacity: 90%;
}

.text {
  color:  #c764fc;
  font-size: 155px;
  font-family: americane,sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

img {
  width: 88%;
  height: auto;
}

.art {
  position: relative;
  width: 50%;
}

.real1{
	width: 120%;
	float: right;
	clear: right;
	right: -30vh;
	bottom: -10vh;
}

.real2{
	width: 170%;
	height: 170%;
	position: relative;
	left: -20vh;
	bottom: -5.5vh;

}

.real3{
	width: 150%;
	height: 150%;
	position: relative;
	bottom: -8vh;
	left: -20vh;
}

.real4{
	width: 170%;
	height: 170%;
	position: relative;
	bottom: -8vh;

}

.real5{
	width: 150%;
	height: 150%;
	position: relative;
	bottom: -6vh;
	left: -22vh;
}

.real6{
	width: 200%;
	height: 200%;
}

.overlay2 {
  display: none;
  position: relative;

}

.art:hover + .overlay2 {
 display: block;
}

#one{
	border: solid 5px #c764fc;
}


