header{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5vh;
  position: relative;
  margin-top: 1vh;
  top: -1.7vh;
  font-family: roc-grotesk,sans-serif;
  font-weight: 700;
  font-style: normal;
}

#resist{
  text-shadow: 0px 0px 60px rgba(79,102,255,.75);
  position: relative;
  display: inline-flex;
}

a{
  position: relative;
  color: #514733;
  text-decoration: none;
}

a:hover{
  cursor: alias;
  background-color: #514733;
  color: #9cc5cd;
  border-radius: 2px;
}


body{
	background-image: url('bg.jpg');
	background-size: contain;
	min-width: 1400px;
}

.a{
	background-color: #9cc5cd;
	color: #514733;
	padding-left: 10px;
	padding-right: 10px;
}

.a:hover{
	color: #9cc5cd;
	background-color: #514733;}

.b:hover{
	background-color: #9cc5cd;
	color: #514733;
}

.b{
	color:  #9cc5cd;
	background-color: #514733;
	padding-left: 10px;
	padding-right: 10px;
}


h1{
	font-family: americane,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 86px;
text-align: center;
color: #514733;

}


p{
	font-family: americane,sans-serif;
   font-weight: 600;
	font-style: normal;
	font-size: 14px;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
	background-color: black;
	color: white;
	width: 60%;
	background-color: #9cc5cd;
	color: #514733;

}


.container {
  display: flex;
  padding: 40px;

}

.container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 88%;
  opacity: 0;
  background-color: #514733;
}

.art:hover .overlay {
  opacity: 90%;
  cursor: pointer;

}

.text {
  color:  #9cc5cd;
  font-size: 155px;
  font-family: americane,sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

img {
  width: 88%;
  height: auto;
}

.art {
  position: relative;
  width: 50%;
}

.real1{
	width: 120%;
	float: right;
	clear: right;
	right: -30vh;
	bottom: -10vh;
}

.real2{
	width: 170%;
	height: 170%;
	position: relative;
	left: -20vh;
	bottom: -5.5vh;

}

.real3{
	width: 150%;
	height: 150%;
	position: relative;
	bottom: -8vh;
	left: -20vh;
}

.real4{
	width: 170%;
	height: 170%;
	position: relative;
	bottom: -8vh;

}

.real5{
	width: 150%;
	height: 150%;
	position: relative;
	bottom: -6vh;
	left: -22vh;
}

.real6{
	width: 200%;
	height: 200%;
}

.overlay2 {
  display: none;
  position: relative;

}

.art:hover + .overlay2 {
 display: block;
}

#one{
	border: solid 5px #9cc5cd;
}


h2{
	position: relative;
	text-align: center;
	font-family: americane,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	color: #514733;
	top: -2.5vh;
}

h2:hover{
	color: #9cc5cd;
}

.sub:hover{
	background-color: #514733;
}
	
.sub{
	padding: .5vh;
}

