header{
  display: inline-flex;
  justify-content: space-between;
  width: 99%;
  font-size: 1.5vh;

  font-family: roc-grotesk,sans-serif;
  font-weight: 700;
  font-style: normal;
}

#resist{
  text-shadow: 0px 0px 60px rgba(79,102,255,.75);
  position: relative;
  display: inline-flex;
}

a{
  position: relative;
  color: #eae2db;
  text-decoration: none;
}

a:hover{
  cursor: alias;
  background-color: #eae2db;
  color: #a48aec;
  border-radius: 2px;
}

body{
  margin: 0;
  text-align: center;
  background-color: #a48aec;
  box-sizing: border-box;
  border-left: 2px solid #0008FF;
  border-right: 2px solid #0008FF;
  border-bottom: 2px solid #0008FF;
}

.body{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#carousel-container{
  width: 15.5vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  --slide-count: 5;
  display: block;

}

#carousel-container > div{
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#carousel {
  width: calc(100% * var(--slide-count));
  display: flex;
  -webkit-overflow-scrolling: touch;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(70,66,245,0.66);
}

.slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  border-radius: 10px;
  border: 1px solid #0008FF;
  margin: .5px;
}

#carousel-container {
  scroll-snap-align: start;
}

ul{
  list-style: none;
}

.box{
display: inline-flex;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 2vh;
margin-bottom: 3vh;
padding-left: 1.5vh;
padding-right: 1.5vh;
}

#title{
  font-family: "ultra", serif;
  color: #f2eeea;
  font-size: 16vh;
  font-style: italic;
  text-shadow: 0px 0px 5px #F8F3FF;
  margin-top: -.5vh;
}

span{
  border-radius: 10px;
  justify-content: center;
}

.tooltip{
width: 400px;
height: 30px;
background-color: #eae2db;
padding: 10px;
border-radius: 15px;
display: inline-flex;
margin-top: 2.25vh;
animation: glow 1.5s ease-in-out infinite alternate;
}

.tooltiptext{
  font-family: "ultra", serif;
  font-size: 1.5em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  height: 30px;
  background-color: #eae2db;
  color: #363cfe;
  text-align: center;
  position: absolute;
  padding: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.empty{
  padding: 20px;
}

.box:hover {
border:1.5px solid #eae2db;
border-radius: 10px;
width: 15.5vw;
box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.66);
}

@keyframes glow{
  from {
    box-shadow: 0px 0px 40px 15px rgba(70,66,245,0.66);
  }
  
  to {
    box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.66);
  }
}

.swipe1 > img{
  opacity: .9;
  width: 11vw;
  margin-top: -5vw;
  margin-bottom: -2.75vw;
  display: inline-flex;
  justify-content: space-evenly;
  position: relative;
  margin-right: 3vw;
  margin-left: 3.5vw;
}
.swipe2 > img{
  width: 10vw;
  margin-top: -2.8vw;
  display: inline-flex;
  justify-content: space-evenly;
  position: relative;
  margin-right: 5vw;
  margin-left: 2vw;
  opacity: .9;
}

.text{
font-size: .7vw;
font-family: articulat-cf,sans-serif;
font-weight: 400;
font-style: normal;
padding: 1.2vw;
line-height: 1.4vh;
margin-top: 3vh;
color: #eae2db;
hyphens: auto;
width: 12vw;
text-align: justify;
}

#one:hover{
  color: #a48aec;
  background-color: #eae2db;
}
#two:hover{
  color: #a48aec;
  background-color: #eae2db;
}

h1{
  font-size: 2vw;
  line-height: 3.5vh;
  font-family: articulat-heavy-cf,sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  hyphens: auto;
  color: #a48aec;
  -webkit-text-stroke: 1px #eae2db;
  text-shadow: 0px 0px 60px rgba(79,102,255,.75);
}

#less{
  text-align: right;
}

.l{
  font-size: 2.3vw;
}

#cite{
  font-size: .45vw;
  text-align: left;
  width: 80%;
  line-height: 1.3;
  border-top: .1px solid white;
  padding-top: 1vh;
}

#one{
  border: .1px solid white;
  border-radius: 10px;
  padding: .5vw;
  box-shadow: 0px 0px 10px 0px rgba(79,102,255,0.25);
}

#two{
  border: .1px solid white;
  border-radius: 10px;
  padding: .5vw;
  box-shadow: 0px 0px 10px 0px rgba(79,102,255,0.25);
}

a{
  text-decoration: none;
  color: #eae2db;
  cursor: alias;
}
