body {
	background-color: yellow;
}

a{
	font-size: 60px;
	color: black;
	text-decoration: none;
}

a:hover{
	color: magenta;
	border-bottom: 20px;
	border-style: dotted;
}

a:active{
	color: white;
}

a:visted{
	color: green;
}