header{
  display: inline-flex;
  background-color: magenta;
  width: 100%;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
}

a{
font-family: helvetica;
text-decoration: none;
}

a:hover{
color: magenta;
background-color: yellow;
}

.home{
  margin-left: 590px;
  margin-right: 590px;
}


body{
    font-family: black-beard,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #2f2f2f;
    background-color: #f9f7f1;

}

p{
    text-align: center;
}

section{
    text-align: justify-all;
    text-justify: inter-word;
    text-align: center;
    font-size: 28px;
}
header{
    font-family: amador,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 92px;
    padding-bottom: 30px;
}
.welcome { 
    font-family: franklin-gothic-atf,sans-serif;
    font-weight: 700;
    font-size: 150px;
    font-style: normal;
    display: block;
    margin-bottom: 60px;

}

.welcome:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 1050px;
    height: 10px;
    display: block;
    margin: 0 auto;
}


.head, .welcome, .subhead{
    text-align: center;
    position: relative;

}

.subhead{
    padding: 10px;
    position: relative;
  max-width: 100%;
  height:  35px;
  overflow-x: hidden;
}
.track{
    position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: subhead 32s linear infinite;
}
@keyframes subhead {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.box{
    border-top: 1px solid #2f2f2f; 
    border-bottom: 2px solid #2f2f2f
}


.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container1, .container2{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.item1, .item2{
    font-size: 21px;
    width: 500px; 
    margin: auto; 

}


.h1{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: italic;
    font-size: 56px;
    text-transform: uppercase;
    
}

.s1,#life{
   font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    font-family: 'Playfair Display', serif; 
    text-align: center;
}

#life{
    font-size: 24px;
    font-style: italic;
}

.s1:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.s1:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

.h2{
    font-family: 'Playfair Display', serif;
    font-weight: 500; 
    font-size: 42px; 
}

.h3{
    font-family: 'Playfair Display', serif;
    font-weight: 450; 
    font-size: 42px;   
    font-style: italic;
    border-bottom: 1px solid;

}

.h4 {
    font-family: franklin-gothic-atf,sans-serif;
    font-weight: 300;
    font-size: 40px;
    font-style: normal;
    display: block;
    
    color: #f9f7f1;
    background-color: #2f2f2f; 
}

.h5{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 54px;
    text-transform: uppercase;
    position: relative;
    top: -20px;
}


img{
    width: 500px;

}


#malice{
    font-size: 36px;
    font-style: italic;
    padding-bottom: 20px;
}

#conscious{
    padding-bottom: 40px;
}

#deny{
    padding-bottom: 40px;
}

#img1 {
border: 2.5px solid;
border-style: double;


}

#img2{
    padding-top: 50px;
    border-right: 1px solid #2f2f2f;
    padding-right: 100px;
}

.border{

}

#definition{
    border: 2px solid #2f2f2f;
}

#souls, #conscious{
    font-size: 24px;
}
#cap{
    margin-top: -20px;
    text-align: left;
    font-size: 28px;
    margin-bottom: -20px;
}
#crime{
font-style: italic;
font-size: 26px;
text-align: left;
}
#y{
    font-size: 30px;
}
#church{
    font-size: 24px;
    margin-top: -60px;
}
#church:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 12px;
    display: block;
    margin: 0 auto;
}
#church:before{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;

}
#burn{
   font-family: franklin-gothic-atf,sans-serif;
    font-weight: 200;
    font-size: 30px;
    font-style: normal;
    display: block;
    margin: 15px;
    color: #f9f7f1;
    background-color: #2f2f2f; 
    padding-bottom: 5px;
    padding-top: 5px;
}
#life{
margin-bottom: -2px;
}


.so{
    border: 2px solid #2f2f2f;
    padding: 5px;
    padding-top: 0px;
}

.fire{
    background: url(fire.gif) repeat-x;
    height: 200px;
}