header{
	z-index: 100;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5vh;
  top: -.9vh;
  position: relative;
  font-family: roc-grotesk,sans-serif;
  font-weight: 700;
  font-style: normal;
}

a{
  position: relative;
  color: white;
  text-decoration: none;
}

a:hover{
  cursor: alias;
  background-color: #b442fd;
  color: #0e3521;
  border-radius: 2px;
}


body{
	background-color: #0e3521;
}

.text{
	font-family: "Helvetica";
	font-weight: 700;
	text-align: center;
	position: relative;
	width: 100%;
	word-spacing: 7.5vw;
	font-size: 6.5vh;
	color: transparent;
	margin-left: 0;
	margin-right: 0;
	margin-top: 3vh;
	margin-bottom: 3vh;
	z-index: 10000;
	-webkit-text-stroke: .75px white;
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}

.buttons{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
}

button{
	background: none;
	border: none;
	flex: 30%;
	max-width: 40%;
}

button:active{
	cursor: pointer;
}

button:hover{
	cursor: pointer;
}

#eye{
	width: 79%;
	margin-top: -14vh;
}

#eye:hover {
	width: 92%;
	margin-top: -16vh;
}
#lips{
	width: 67%;
	margin-top: -5vh;
}
#lips:hover {
	width: 76%;
	margin-top: -7vh;
}
#nose{
	width: 60%;
	padding-top: 4vh;
	position: relative;
	top: -28vh;
	left: -7vh;
}
#nose:hover {
	width: 73%;
}
#hand{
	width: 90%;
	position: relative;
	left: -1vh;
}
#hand:hover {
	width: 100%;
	top: -6vh;
}
#ear{
	position: relative;
	width: 33%;
	top: -23vh;
	right: -4vh;
}
#ear:hover {
	width: 40%;
	top: -29vh;
}