body{
	background-color: lightblue;
	overflow: hidden;
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}

.buttons{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
}

button{
	background: none;
	border: none;
	flex: 30%;
	max-width: 40%;
}

button:active{
	cursor: pointer;
}

button:hover{
	cursor: pointer;
}

#eye{
	width: 78%;
	margin-top: -10vh;
}
#lips{
	width: 70%;
	margin-top: -10vh;
}
#nose{
	width: 60%;
	padding-top: 4vh;
	position: relative;
	top: -20vh;
}
#hand{
	width: 90%;
}
#ear{
	position: relative;
	width: 35%;
	top: -15vh;
	right: -2vh;
}