header{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5vh;
  font-family: roc-grotesk,sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: -1vh;
}

header > a{
  position: relative;
  color: #00aeef;
  text-decoration: none;
}

header > a:hover{
  cursor: alias;
  background-color: #62bd5e;
  color: white;
  border-radius: 2px;
}

p{
font-family: roc-grotesk,sans-serif;
color: #00aeef;
font-weight: 700;
font-style: normal;
font-size: 18vh;
line-height: 15vh;
margin-top: 4vh;
text-align: center;
margin-bottom: -1.25vh;
}

P: hover{
	color: white;
}
section{
	color: #ec008c;
}

#one{
font-family: roc-grotesk,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 3vh;
postion: relative;
margin-left: 26%;
margin-top: 7%;
}

#two{
font-family: roc-grotesk,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 3vh;
postion: relative;
text-align: right;
margin-right: 29%;
margin-top: -4.5vh;
}

#three{
	font-family: roc-grotesk,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3vh;
	position: relative;
	text-align: center;
	margin-top: 32%;
}

img{
	width: 31%;
	position: absolute;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}


#ch1:hover {
	display: none;
}

.img:hover{
	cursor: pointer;
}

.change{
	color: #62bd5e !important;
}

@media only screen and (max-width: 700px){
	img{
		width: 40%;
	}
	#one{
		margin-left: 10%;
		margin-top: 10%;
	}
	#two{
		margin-right: 20%;
	}
	#three{
		margin-top: 39%;
	}
}
