header{
  z-index: 100;
  display: inline-flex;
  justify-content: space-between;
  width: 99%;
  font-size: 1.5vh;
  position: relative;
  font-family: roc-grotesk,sans-serif;
  font-weight: 700;
  font-style: normal;
}

a{
  position: relative;
  color: #231f20;
  text-decoration: none;
}

a:hover{
  cursor: alias;
  background-color: #231f20;
  color: white;
  border-radius: 2px;
}

body{
  text-align: center;
  background-color: #ef3c29;
  margin: 0 auto;
  color: #231f20;
  width: 100%;

}

.container{
  justify-content: center;
  border: 2px dotted #231f20;
  margin: 15px;
  width: 97.8%;
}

p{
font-family: quincy-cf,serif;
font-weight: 100;
font-style: normal;
}

.title{
  margin-top: 3vh;
  margin-bottom: -1vh;
}
#head{
  width: 42%;
  justify-content: center;
  position: relative;
}

.line{
    border-bottom: 3px dotted #213f20;
    width: 20%;
    justify-content: center;
    position: relative;
    display: inline-flex;
    margin-bottom: 3vh;
}

h1{
  margin-top: 10vh;
  font-family: bd-supper,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5vw;
  border-radius: 50%;
  border: 1px solid #231f20;
  padding: 10px;
  margin: 20px;
}

.spoon{
  margin-top: -2vh;
  display: table;
  text-align: left;
  margin-bottom: 20vh;
}
#spoon{
  width: 100%;
}
#p1{
  position: relative;
  width: 68%;
  margin-bottom: -10vh;
  margin-left: 24vw;
  text-align: right;
}
#p2{
  position: relative;
  width: 67%;
  margin-bottom: 2vh;
  margin-left: 4vw;
  text-align: left;
  margin-top: -42vh;
}
#p3{
  position: relative;
  width: 30%;
  text-align: right;
  margin-top: -35.5vh;
  margin-left: 75vw;
  margin-bottom: -7vh;
}
#p4{
  width: 29%;
  margin-top: -91vh;
  margin-bottom: 12vh;
  margin-left: 2vw;
  text-align: left;
}
#p5{
  width: 25%;
  margin-top: -4vh;
  margin-bottom: 17vh;
  margin-left: 70vw;
  text-align: right;
}

.entrees{
  margin-bottom: 5vh;
}

.knife{
  text-align: right;
  margin-top: 0vh;
  margin-bottom: 27vh;
}
#knife{
  width: 100%;
}
.desserts{
  margin-top: ;
}

#fork{
  width: 100%;
  margin-top: 9vh;
}
.drinks{
  margin-top: 30vh;
}
.plate{
  text-align: left;
}
#plate{
  width: 100%;
  margin-top: -10vh;
}

.imgs1{
  position: relative;
  margin-top: -52vh;
  margin-bottom: 10vh;
  margin-left: 21vw;
}
#rice{
  width: 5%;
  position: relative;
}
#cheetos{
  width: 5%;
  position: relative;
}
#pringles{
  width: 5%;
  position: relative;
}
#pop{
  width: 6%;
  position: relative;
}
#fries{
  width: 6%;
  position: relative;
}
#froot{
  width: 7%;
  position: relative;
}
#foie{
  width: 7%;
}
#oyster{
  width: 7%;
}
#steak{
  width: 11%;
}
#frittata{
  width: 10%;
}
#burger{
  width: 8%;
}

.imgs2{
  position: relative;
  margin-top: -32vh;
  margin-bottom: 15vh;
  margin-right: 15vw;
}

.imgs3{
  position: relative;
  margin-top: -35vh;
  margin-bottom: 15vh;
  margin-left: -12vw;
}

#sun, #g{
  width: 6%;
}
#g{
  position: relative;
  top: -2vh;
}
#choc{
  width: 10%;
  position: relative;
  top: vh;
}
#ben{
  width: 5%;
  position: relative;
  bottom: -2vh;
}
#red{
  width: 8%;
}
.imgs4{
  position: relative;
  margin-top: 0vh;
  margin-bottom: 20vh;
  margin-left: 23vw;
}
#y{
  width: 8%;
}
#l{
  width: 12%;
}
#m{
  width: 10%;
}
#vodka{
  width: 6%;
}
#diamond{
  width: 13%;
}

/*.appetizer,.entrees,.desserts,.drinks{
  border-top: 1px solid  #231f20;
  border-top: 1px solid  #231f20;
}
